* {
    box-sizing: border-box;
}

body {
    background-image: url("../img/level one game.gif");
    /*background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/600764/space.jpg');*/
    cursor: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/600764/aim_red.png') 17.5 17.5, auto !important;

    position: relative;
    height: 100%;
    width: 100%;
    font-family: cursive;
}

